.GameListContainer{
    /* display:flex; */
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    background: white;
    padding-bottom: 30px;
}

.ButtonPlayNow{
    margin-right: 5px;
    margin-bottom: 5px;
}

.ButtonScoreBoard{
    margin-left: 5px;
    margin-bottom: 5px;

}

.CardWrapper {
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px;
  }
